<section>
    <container class="text-center">
        <div style="background-image: url(/assets/img/ballpit.jpg); opacity: 0.9; background-repeat: no-repeat; background-size: cover;">
            <row>
                <div class="col-md-12 py-4">
                    <h1 class="text-white">Coming Soon</h1>
                </div>
            </row>
            <row>
                <div class="col-md-6 offset-md-3 py-3">
                    <img class="img-fluid" src="/assets/img/logo/RIE'S-final-white-colour.png">
                </div>
            </row>
            <row>
                <div class="col-md-12 py-4">
                    <h1 class="text-white">Registered Childminder in the Eastwood Area</h1>
                    </br>
                    <h3 class="text-white">At the moment we are just putting the finishing touches to our site and we'll show it to you soon</h3>
                    </br>
                    <h4 class="text-white">For enquiries please contact <a class="no-wrap badge badge-pill badge-dark" href="mailto:marie@riesplayhouse.co.uk">marie@riesplayhouse.co.uk</a></h3>
                </div>
            </row>
        </div>
    </container>
</section>