<section>
    <container class="text-center">
        <div style="background-image: url(/assets/img/ballpit.jpg); background-size:150%; opacity: 0.9; background-repeat: no-repeat;">
            <row>
                <div class="col-md-12 py-4">
                    <h1 class="text-white">Coming Soon</h1>
                </div>
            </row>
            <row>
                <div class="col-md-6 offset-md-3 py-3">
                    <img class="img-fluid" src="/assets/img/logo/RIE'S-final-white-colour.png">
                </div>
            </row>
            <row>
                <div class="col-md-12 py-4">
                    <p class="lead text-white">We're just putting the finishing touches to our site and we'll show it to you soon.</p>
                </div>
            </row>
        </div>
    </container>
</section>